---
---

@import "minima";

.vocero-preview {
  padding: 30px 0;
  display: block;
}

.vocero-preview__content {
  max-width: calc(800px - (30px * 2));
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}
